html,
body {
    width: 100%;
    height: 100%;
    font-size: 95% !important;
    margin: 0;
    overflow: hidden ! important;
}

#canvas {
    /*background-color: black;*/
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#scoreboard {
    background-color: powderblue;
    height: calc(100vh - 70px);
}

.media {
    height: calc((100vh - 70px) / 3);
    /* width: calc((100vw - 5px) / 6); */
    width: 99%;
    max-height: calc((100vh - 70px)/ 3);
    padding: .2em;
    margin: .2em;
    box-shadow: 1px 1px 3px rgba(0.5, 0, 0, 0.2);
    background-color: azure;
}

#masthead {
    background-color: darkcyan;
    max-height: 70px;
}

h3 {
    margin-bottom: 0;
    font-size: 1.3em;
}

#masthead span>a {
    font-weight: 600;
    color: #fff
}

h5 {
    text-align: left;
    color: darkslategrey;
}

span.sdata {
    font-family: Lato;
    color: darkgreen;
    font-weight: 60;
}

span.mar,
span.points {
    color: firebrick;
    font-weight: 100;
}

.position {
    font-family: Yanone;
    font-weight: 700;
    font-size: 1.5rem;
}

.position>i {
    font-size: 0.8em;
}

span.points {
    color: firebrick;
}

span.opp {
    color: black;
    font-size: .9em;
}

.sdata-res,
.card-text {
    font-size: .8em;
}

.sdata-res {
    display: flex;
    width: 1.5em;
}

span.result {
    width: 1.5em;
}

button {
    /* font-variant: normal; */
    text-transform: none;
}