<div class="container-fluid" id="main-container">
    <div class="row">
        <div v-if="tourney" class="col">
            <b-breadcrumb :items="breadcrumbs" />
        </div>
    </div>
    <section class="jumbotron text-center">
        <div v-if="loading||error" class="row">
            <div v-if="loading" class="col">
                <alert-loading></alert-loading>
            </div>
            <div v-if="error" class="col">
                <alert-error>
                    <p slot="error_msg">{{error_msg}}</p>
                    <p class="text-center border-1 border border-danger text-danger" slot="error">{{error}}</p>
                </alert-error>
            </div>
        </div>
        <div v-if="!(error||loading)" class="container">
            <ul class="list-unstyled tourney-details">
                <b-media tag="li">
                    <b-img slot="aside" vertical-align="center" class="align-self-center mr-3 rounded d-none d-sm-block img-fluid"
                        :src="tourney.event_logo" width="130" height="130" :alt="tourney.event_logo_title" />
                    <h1 class="mx-1">
                        {{tourney.title}}
                    </h1>
                    <div class="m-auto">
                        <ul class="list-inline text-center" id="event-details">
                            <li class="list-inline-item" v-if="tourney.start_date"><i class="fa fa-calendar"></i> {{tourney.start_date}}</li>
                            <li class="list-inline-item" v-if="tourney.venue"><i class="fa fa-map-marker"></i> {{tourney.venue}}</li>
                            <li v-if="tourney.tournament_director"><i class="fa fa-legal"></i>
                                {{tourney.tournament_director}}</li>
                        </ul>
                        <h3>Categories <span>&#x1f508;</span></h3>
                        <ul class="list-inline text-center cate-list">
                            <li v-for="(cat, c) in tourney.tou_categories" :key="c"  class="list-inline-item">
                                <router-link :to="{ name: 'CateDetail', params: { slug: tourney.slug , event_slug:cat.event_slug}}">
                                    <span v-if="cat.event_id">{{cat.cat_name}}</span>
                                </router-link>
                                    <span v-if="!cat.event_id">{{cat.cat_name}}</span>
                            </li>
                        </ul>
                        <social-sharing :url="pageurl" :title="socialTitle" description="The Nigeria Scrabble Federation Tournament Results and Statistics Archive website."
                            quote="Nigeria Scrabble Federation (NSF) organises Scrabble in Nigeria. Follow  tournaments live and view results and statistics on our tournament archives website."
                            hashtags="scrabble,NSF,nigeriascrabble,scrabbletournament" twitter-user="NigeriaScrabble"
                            inline-template>
                            <div class="social">
                                <network network="facebook">
                                    <i class="fa fa-fw fa-facebook" title="Share on Facebook"></i>
                                </network>
                                <network network="googleplus">
                                    <i class="fa fa-fw fa-google-plus" title="Share on Google+"></i>
                                </network>
                                <network network="twitter">
                                    <i class="fa fa-fw fa-twitter" title="Tweet about this page"></i>
                                </network>
                            </div>
                        </social-sharing>
                    </div>
                </b-media>
            </ul>
        </div>
    </section>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-12 offset-md-2 shadow-sm">
                    <b-carousel id="carousel1" style="text-shadow: 1px 1px 2px #333;" controls indicators background="#ababab"
                        :interval="5000" img-width="1024" img-height="480" v-model="slide" @sliding-start="onSlideStart"
                        @sliding-end="onSlideEnd">

                        <b-carousel-slide v-for="(image, ID) in tourney.event_pictures" :key="ID" :img-src="image.guid">
                            <h3 class="d-none d-sm-block" v-if="image.post_title">{{image.post_title}}</h3>
                        </b-carousel-slide>
                    </b-carousel>
                </div>
            </div>
        </div>
    </div>
</div>