#main-container {
    font-size: 1.2em;
}

h1 {
    font-size: 2em;
}

.tourney-details {
    font-size: 1.3rem;
}

#event-details {
    font-size: .9em;
    margin: 1.2em auto;
}

h3 {
    margin-bottom: .1rem;
}

h3>ul {
    margin-top: .1rem;
}

.social {
    color: darkslategray !important;
    font-size: 1.3em;
    text-align: center;
    margin: 1em;
    cursor: pointer;
}

.social span {
    margin-right: 2em;
}
.cate-list li span{
   display: inline-flex;
   margin: .5em;
   font-size: 1.3em;
}