.tourney-list {
    font-size: 1.2rem;
}

.media {
    margin-bottom: .2rem;
}

.tourney-list ul li {
    color: tomato;
    font-size: 0.9em;
    text-transform: uppercase;
}

.tourney-list div small {
    color: seagreen;
    font-size: .8em;
}

.category-list {
    width: 80%;
    border-bottom: darkseagreen 1px solid;
    margin: .5em auto;
    padding-bottom: 1em;
}